@charset "utf-8";

.b{
    margin-bottom:50px;
}
.c{
    margin-bottom:170px;
}
/***small device only***/
@media(max-width:767px){
      iframe{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          height:90%;
      }
    #contact_a{
        text-align: center;
    }
    }